<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
</head>
<BODY>
    {% if states %}

        {% if states.id %}
        <H1>States: {{ states.name }}</H1>
        <H3>Cities:</H3>
            <UL>
                {% for city in states.cities|sort(attribute='name') %}
                <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                {% endfor %}
            </UL>
        {% else %}
        <H1>States</H1>
            <UL>
                {% for state in states|sort(attribute='name') %}
                <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
                {% endfor %}
            </UL>
        {% endif %}
    
    {% else %}
    <H1>Not found!</H1>
    {% endif %}
</BODY>
</html>
